@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

/* navbar design start */
.navbar{
    margin: 16px 120px;
    
}
.navbar .nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-container .nav-text ul{
    list-style: none;
    display: flex;
    justify-items: center;
    gap: 32px;
}
.nav-container .btn button{
    background-color: #469165;
    max-width: 164px;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600px;
}