@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

/* navbar design start */
.navbar {
    margin: 16px 120px;

}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-text ul {
    list-style: none;
    display: flex;
    justify-items: center;
    gap: 32px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.nav-container .btn button {
    background-color: #469165;
    max-width: 164px;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600px;
}

/* navbar design end */


/* banner design start */
.banner {
    background: url(./images/hero-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 674px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1360px;
    padding: 116px 120px 180px 120px;
}

.banner-content h1 {
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
}

.banner-content h1 span {
    color: #30B868;

}

.banner-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    padding: 5px 0px;
}

#button-1 {
    margin-bottom: 16px;
    width: 229px;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

#button-1 span {
    border-radius: 100px;
    color: rgba(70, 145, 101, 1);
    border: 100px;
    border: solid rgb(195, 222, 200);
    background-color: rgba(70, 145, 101, 1);
}

#btn2-3 {
    display: flex;
    margin-top: 32px;
    gap: 16px;
}

#btn-2 {
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    height: 52px;
    width: 251px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-3 {
    border: 1px solid white;
    background: none;
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
}

/* banner design end */

/* main section design start */
main {
    margin: 0px 120px 120px 120px;
}

.head-text {
    text-align: center;
    margin-top: 50px;
}

.head-text h1 {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(0, 25, 49, 1);
}

.head-text p {
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 44px;
}

/* card design start */

.card-container {
    display: flex;
    gap: 24px;
}

.card {
    background-color: rgb(255, 255, 255);
    max-width: 322px;
    text-align: center;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card img {
    border: 14px solid rgba(249, 85, 85, 1);
    background: none;
    border-radius: 50px;
    background-color: rgba(249, 85, 85, 1);
    margin-top: 45px;
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding: 16px 0;
    color: rgba(0, 25, 49, 1);
}

.card p {
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
}

/* card design end */

/* summary div design start */

.summary-section {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    gap: 60px;
}

.summary {
    width: 700px;
    margin: 102px 0;
}

.summary h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}

.summary h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.summary p {
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 40px;
}

.summary h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

/* summary div design end */

